/*media queries 
1st breakpoint at 525px
2nd breakpoint at 900px

*/

/*off canvas pattern*/
html, body, main {
    height: 100%;
    width: 100%;
}

nav {
    width: 300px;
    height: 100%;
    position: absolute;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
    background-color: pink;
}

.open { /*the open class resets the transform*/
    transform: translate(0,0);
}

@media screen and (min-width: 600px){
    
    nav {
        background-color: blue;    
        position: relative;
        transform: translate(0,0);
    }
    
    body {
        display: flex;
        flex-flow: row nowrap;
    }
    
    main {
        width: auto;
        flex-grow: 1;
    }
}

