body {
     width: 50em;
     margin: 0 auto;
}

article {
    /*max-width: 80%;*/
}

h1 {

}

img {
    max-width: 100%;
}


/*.twitter{*/
/*    background-image: url("../images_src/digg.svg");    */
/*}*/

/*.digg{*/
    
/*}*/

/*.facebook{*/
    
/*}*/

/*.google{*/
    
/*}*/
img:last-of-type {
    background-color: pink;
}